.nav-bg {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(194.87deg, #54391e, #6e573f);
  height: 116px;
  z-index: 0;
}

.navigation1 {
  width: 52.78%;
  margin: 0 !important;
  position: absolute;
  top: 51.4px;
  right: 6.01%;
  left: 41.22%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-81xl);
  box-sizing: border-box;
  gap: 60px;
  z-index: 1;
}

.logo_icon {
  height: 100px;
  width: 200px;
  position: absolute;
}

.text {
  width: 172.5px;
  position: relative;
  height: 57.7px;
}
.logo,
.navigation {
  display: flex;
  box-sizing: border-box;
}
.logo {
  width: 25.31%;
  margin: 0 !important;
  position: absolute;
  top: 10px;
  right: 69.48%;
  left: 5.21%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-31xl);
  gap: var(--gap-3xs);
  z-index: 2;
}
.navigation {
  align-self: stretch;
  height: 131px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-81xl);
  position: relative;
  text-align: left;
  font-size: var(--button-size);
  color: var(--color-white);
}
.hospitably-brewed-affordably {
  align-self: stretch;
  position: relative;
  line-height: 110%;
  text-transform: capitalize;
}
.a-friendly-environment {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-size);
  line-height: 27.5px;
  font-family: var(--body-text);
  color: var(--color-dimgray-300);
}
.details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-31xl);
}
.button {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-17xl);
  background-color: var(--color-dimgray-300);
}
.menu-button {
  width: 165px;
  position: relative;
  height: 60px;
}
.button1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-17xl);
  background-color: var(--color-seashell-100);
}
.location1 {
  position: absolute;
  top: 26.67%;
  left: 27.27%;
  line-height: 27.5px;
}
.location-button {
  width: 165px;
  position: relative;
  height: 60px;
  color: var(--color-gray-100);
}
.buttons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-xl);
  font-size: var(--button-size);
  color: var(--color-white);
}
.contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.left-side {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-width: 300px;
  z-index: 0;
}
.blob,
.wheat-icon {
  position: absolute;
  margin: 0 !important;
}
.wheat-icon {
  width: 896.6px;
  top: -288px;
  left: -431px;
  height: 801.8px;
  object-fit: contain;
  z-index: 1;
}
.blob {
  width: 514.7px;
  top: 85px;
  left: calc(50% - 244px);
  border-radius: var(--br-679xl);
  height: 471.8px;
  z-index: 0;
}
.main_image {
  width: 460.9px;
  position: relative;
  height: 621.1px;
  object-fit: contain;
  z-index: 1;
}
.about,
.image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.image {
  flex: 1;
  align-items: flex-start;
  min-width: 610px;
  z-index: 2;
}
.about {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-8xs) var(--padding-81xl);
  gap: var(--gap-xl);
}
.non-coffee-bg {
  width: 98.59%;
  position: absolute;
  margin: 0 !important;
  top: 35.9px;
  right: 0.85%;
  left: 0.57%;
  border-radius: var(--br-25xl);
  background-color: var(--color-seashell-100);
  height: 1492px;
  z-index: 0;
}
.menu-bg {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  background: linear-gradient(180deg, #6e573f, #7a6146 30.5%, #bca58d 75.5%);
  height: 597px;
  z-index: 0;
}
.drip-icon {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 594px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 180px;
  flex-shrink: 0;
  z-index: 1;
}
.coffee,
.coffee-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.coffee-bg {
  width: 98.34%;
  margin: 0 !important;
  position: absolute;
  top: 36px;
  right: 0.83%;
  left: 0.83%;
  height: 200%;
  z-index: 0;
}
.coffee {
  flex: 1;
  height: 496px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.non-coffee-drinks {
  align-self: stretch;
  position: relative;
  line-height: 27.5px;
  display: inline-block;
  height: 71px;
  flex-shrink: 0;
  z-index: 0;
  font-size: var(--heading-1-size);
  color: var(--color-dimgray-300);
}
.product-box {
  position: absolute;
  height: 71.01%;
  width: 100%;
  top: 28.99%;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-7xl);
  background-color: var(--color-linen);
}
.drink,
.ginger,
.honey {
  position: absolute;
  height: 23.2%;
  width: 43.14%;
  top: 25.86%;
  right: 30%;
  bottom: 60%;
  left: 28.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.drink,
.ginger {
  height: 26.08%;
  width: 45.49%;
  top: 28.95%;
  right: 27.45%;
  bottom: 44.97%;
  left: 27.06%;
}
.drink {
  height: 68.8%;
  width: 78.43%;
  top: 0;
  right: 10.78%;
  bottom: 31.2%;
  left: 10.78%;
}
.drink_price,
.non-coffee-text {
  position: absolute;
  height: 7.73%;
  width: 59.8%;
  top: 66.52%;
  left: 20.12%;
  line-height: 27.5px;
  display: inline-block;
}
.drink_price {
  width: 34.82%;
  top: 80.93%;
  left: 32.35%;
  font-size: var(--body-text-size);
  font-family: var(--body-text);
  color: var(--color-dimgray-300);
}
.noncoffee-animation {
  width: 255px;
  position: relative;
  height: 452.5px;
}
.chocolates {
  position: absolute;
  height: 14.34%;
  width: 31.57%;
  top: 33.37%;
  right: 36.27%;
  bottom: 52.29%;
  left: 32.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}

.cointainer,
.non_coffee_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cointainer {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-xl);
  gap: var(--gap-base);
}
.non_coffee_container {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-3xs);
  z-index: 1;
  font-size: var(--heading-2-size);
}
.beans_bg,
.non-coffee {
  margin: 0 !important;
  position: absolute;
  z-index: 0;
}
.beans_bg {
  width: 1187px;
  top: 218px;
  left: 590px;
  height: 649px;
  object-fit: cover;
}
.non-coffee {
  width: 89.68%;
  top: 864px;
  right: 5.32%;
  left: 5.01%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.menu_title {
  position: relative;
  line-height: 110%;
  text-transform: capitalize;
}
.menu-title {
  width: 328px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: calc(50% - 161.5px);
  border-radius: var(--br-81xl);
  background-color: var(--color-dimgray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-16xl) var(--padding-75xl);
  box-sizing: border-box;
  mix-blend-mode: normal;
  z-index: 0;
}
.menu-coffee {
  width: 1197px;
  height: 496px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 0;
}
.hot-and-iced,
.menu-hot-and-iced {
  margin: 0 !important;
  position: absolute;
}
.hot-and-iced {
  width: 208px;
  top: 141px;
  left: calc(50% - 103.5px);
  font-size: var(--heading-1-size);
  line-height: 27.5px;
  display: inline-block;
  color: var(--color-linen);
  text-align: left;
  z-index: 1;
}
.menu-hot-and-iced {
  width: 1259px;
  top: 0;
  left: calc(50% - 630px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 3;
  font-size: var(--title-size);
  color: var(--color-white);
}
.product-box2 {
  position: absolute;
  height: 70.98%;
  width: 100%;
  top: 29.02%;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-7xl);
  background-color: var(--color-linen);
}
.coffee-extras1,
.coffee-extras2,
.coffee_drink {
  position: absolute;
  height: 14.34%;
  width: 31.55%;
  top: 33.38%;
  right: 36.31%;
  bottom: 52.28%;
  left: 32.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.coffee_drink {
  height: 68.79%;
  width: 78.41%;
  top: 0;
  right: 10.79%;
  bottom: 31.21%;
  left: 10.79%;
  object-fit: cover;
}
.americano,
.coffee_price {
  position: absolute;
  height: 7.74%;
  width: 59.8%;
  top: 66.51%;
  left: 20.08%;
  line-height: 27.5px;
  display: inline-block;
}
.coffee_price {
  width: 34.8%;
  top: 80.94%;
  left: 32.34%;
  font-size: var(--body-text-size);
  font-family: var(--body-text);
  color: var(--color-dimgray-300);
}
.americano-animation,
.cafe-latte-animation {
  position: absolute;
  top: 0;
  left: 59px;
  width: 252px;
  height: 447px;
}
.cafe-latte-animation {
  left: 328px;
}

.spanish-latte-animation {
  position: absolute;
  top: 1px;
  left: 597px;
  width: 251px;
  height: 447px;
}
.matcha-latte-animation,
.mocha-latte-animation {
  position: absolute;
  top: 0;
  left: 865px;
  width: 252px;
  height: 447px;
}
.matcha-latte-animation {
  left: 1134px;
}
.coffee-extras1,
.coffee-extras2 {
  position: absolute;
  height: 14.34%;
  width: 31.55%;
  top: 40.11%;
  bottom: 45.55%;
  left: 25%;
  right: 20%;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.coffee-frame1,
.dirty-matcha-latte-animation {
  position: absolute;
  top: 5px;
  left: 1403px;
  width: 252px;
  height: 447px;
}
.coffee-frame1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
}
.coffee-clipping,
.coffee-frame {
  position: absolute;
  top: 50px;
  left: -2px;
  width: 1667px;
  height: 476px;
}
.coffee-clipping {
  width: 98.31%;
  margin: 0 !important;
  top: 140.9px;
  right: 0.85%;
  left: 0.85%;
  height: 526px;
  overflow-y: hidden;
  z-index: 4;
  font-size: var(--heading-2-size);
}
.menu-container,
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-container {
  width: 1400px;
  position: relative;
  margin: 5%;
}
.nav {
  align-self: stretch;
  height: 1652px;
  padding: var(--padding-1xs);
  box-sizing: border-box;
  font-size: var(--heading-2-size);
  position: relative;
  line-height: 25.5px;
  cursor: pointer;
}
.location_bg {
  width: 104.57%;
  height: 1407px;
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  right: -2.7%;
  left: -1.87%;
  background: linear-gradient(180deg, #6e573f, #5e452b);
  z-index: 0;
}
.loc_title_bg {
  width: 663px;
  position: relative;
  border-radius: var(--br-30xl) var(--br-79xl) 0 0;
  background-color: var(--color-dimgray-200);
  height: 113px;
  z-index: 0;
}
.loc-title,
.location_title {
  width: 663px;
  margin: 0 !important;
  position: absolute;
  z-index: 1;
}
.location_title {
  top: 24px;
  left: 0;
  line-height: 110%;
  text-transform: capitalize;
  display: inline-block;
  height: 89px;
  flex-shrink: 0;
}
.loc-title {
  top: -106.1px;
  left: calc(50% - 341px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.back_map {
  width: 1230px;
  position: relative;
  height: 624px;
  object-fit: cover;
}

.shop-interior {
  width: 560px;
  position: relative;
  height: 557px;
  object-fit: cover;
}
.shop {
  margin: 0 !important;
  position: absolute;
  top: 418px;
  left: calc(50% - 238px);
  border-radius: var(--br-29xl);
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.tab {
  width: 387px;
  position: relative;
  border-radius: var(--br-55xl);
  background-color: var(--color-seashell-100);
  height: 305px;
  z-index: 0;
}

.address_title {
  line-height: 200%;
  text-transform: capitalize;
  top: 500%;
}

.whole_address {
  margin: 0;
  font-size: var(--body-text-size);
  line-height: 27.5px;
  font-family: var(--body-text);
}
.gmaps,
.tab {
  position: absolute;
  margin: 0 !important;
}
.tab {
  width: 361px;
  top: 36px;
  left: 71px;
  color: var(--color-dimgray-300);
  display: inline-block;
  height: 282px;
  z-index: 1;
  font-size: var(--heading-1-size);
}
.gmaps {
  width: 93px;
  top: 186px;
  left: 205px;
  border-radius: var(--br-237xl);
  height: 93px;
  object-fit: cover;
  z-index: 2;
}
.address-tab,
.loc-tab {
  display: flex;
  align-items: center;
}
.address-tab {
  width: 494px;
  height: 311px;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
}
.loc-tab {
  width: 400px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 232.1px);
  left: calc(50% - 206px);
  height: 312px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.location_container,
.map {
  display: flex;
  position: relative;
}
.map {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-81xl);
  z-index: 2;
  font-size: var(--font-size-81xl);
  color: var(--color-dimgray-400);
}
.location_container {
  align-self: stretch;
  height: 1105px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-31xl) 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  color: var(--color-linen);
}
.extention,
.wave-bg {
  position: absolute;
  margin: 0 !important;
}
.wave-bg {
  width: 102%;
  top: -5%;
  height: 769px;
  z-index: 2;
  object-fit: cover;
}
.extention {
  width: 102%;
  top: 99.9px;
  right: 0;
  left: -1.59%;
  background-color: var(--color-seashell-100);
  height: 1359px;
  z-index: 1;
}
.contact_title {
  align-self: stretch;
  position: relative;
  font-size: var(--title-size);
  line-height: 110%;
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--title);
  color: var(--color-black);
  text-align: center;
  height: 71px;
  flex-shrink: 0;
}
.name_bg,
.contact_text {
  position: absolute;
}
.name_bg {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-22xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  height: 50px;
}
.contact_text {
  width: 56.6%;
  top: 10px;
  left: 21.7%;
  line-height: 27.5px;
  display: inline-block;
  height: 31px;
}
.users-icon {
  position: absolute;
  height: 69.6%;
  width: 6.93%;
  top: 12%;
  right: 83.12%;
  bottom: 18.4%;
  left: 9.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.name {
  align-self: stretch;
  position: relative;
  height: 50px;
}
.email_bg {
  border-radius: var(--br-22xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.email_bg,
.icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 51px;
}
.icon {
  height: 61.76%;
  width: 10.77%;
  top: 19.61%;
  right: 81.44%;
  bottom: 18.63%;
  left: 7.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.email {
  align-self: stretch;
  position: relative;
  height: 51px;
}
.message_bg {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  height: 151px;
}
.message_text {
  position: absolute;
  width: 56.6%;
  top: 19px;
  left: 6.13%;
  line-height: 27.5px;
  display: inline-block;
  height: 31px;
}
.message {
  align-self: stretch;
  position: relative;
  height: 151px;
}
.dark_button {
  position: absolute;
  width: 42.12%;
  top: 26.67%;
  left: 29.09%;
  line-height: 27.5px;
  display: inline-block;
}
.send-button {
  width: 165px;
  position: relative;
  height: 60px;
  text-align: center;
  font-size: var(--button-size);
  color: var(--color-white);
  font-family: var(--title);
}
.contact_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  min-width: 388px;
  max-width: 388px;
}
.phone {
  width: 605px;
  position: relative;
  height: 514px;
  object-fit: cover;
  z-index: 0;
}
.phone_box {
  width: 560px;
  position: relative;
  border-radius: var(--br-lgi);
  background-color: var(--color-linen);
  height: 102px;
  z-index: 1;
}
.or-call-us-container {
  width: 317px;
  position: absolute;
  margin: 0 !important;
  top: 547px;
  left: calc(50% - 180px);
  line-height: 27.5px;
  display: inline-block;
  z-index: 2;
}
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  min-width: 734px;
  max-width: 734px;
  text-align: center;
  color: var(--color-dimgray-200);
}
.contact-us,
.contact_container,
.SulitCoffeeShop {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}
.contact_container {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-31xl) 0;
  z-index: 2;
}
.contact-us,
.SulitCoffeeShop {
  position: relative;
}
.contact-us {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-81xl);
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--color-antiquewhite);
  font-family: var(--body-text);
}
.SulitCoffeeShop {
  width: 100%;
  background-color: var(--color-white);
  height: 5022px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--title-size);
  color: var(--color-gray-100);
  font-family: var(--title);
}
